<!DOCTYPE html>
<html>
<head>

<title>SISTEMA NFV</title>

<style>

body{
    font-family: Arial;
    background: #f4f6f8;
    margin: 0;
    padding: 20px;
    text-align: center;
}

.titulo{
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 30px;
}

.boton{
    display:block;
    width:100%;
    padding:18px;
    margin-bottom:15px;
    border-radius:12px;
    text-decoration:none;
    color:white;
    font-size:18px;
    font-weight:bold;
}

.campanias{ background:#3498db; }
.lotes{ background:#9b59b6; }
.tareas{ background:#27ae60; }

</style>
</head>

<body>

<div class="titulo">
🚜 SISTEMA NFV
</div>

<a class="boton campanias" href="/campanias">
📅 Ver campañas
</a>

<a class="boton lotes" href="/campanias">
🌱 Ver lotes
</a>

<a class="boton tareas" href="/campanias">
➕ Cargar tarea
</a>

</body>
</html>
